.titulo-1 {
    border: 5px solid #FF6347;
}
.titulo-2 {
    border: 5px solid #1E90FF;
}
.titulo-3 {
    border: 5px solid #EE82EE;
}

.parrafo-1 {
    color: rgb(255, 99, 71);
}
.parrafo-2 {
    color: rgb(30, 144, 255);
}
.parrafo-3 {
    color: rgb(238, 130, 238);
}

/* header */

li, a {
    font-family: "Arial";
    font-weight: 500;
    font-size: 16px;
    color: rgb(120, 47, 255);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

nav {
    order: 1;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
