@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* background-color: rgb(254, 255, 240); */
    color: black;
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 8em;
    color: rgb(255, 187, 0);
    margin: 50px auto 0 auto;
    padding: 50px 0 0 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    color: rgb(255, 187, 0);
    padding-bottom: 10px;
}

h3 {
    color: grey;
    font-size: 35px;
    font-weight: 700;
    margin: 10px auto;
    text-align: center;
}

p {
    line-height: 2;
    margin: 10px auto;
}

hr {
    border: dotted rgb(255, 187, 0) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: black;
    text-decoration: none;
    margin: 10px 20px;
    font-weight: 300;
    font-size: 20px;
}

a:hover {
    color: white;
}

.nube-top {
    position: absolute;
    left: 300px;
    top: 150px;
}

.nube-bottom {
    position: absolute;
    right: 375px;
    bottom: 300px;
}

.gif-code {
    width: 25%;
    float: left;
    margin: 30px 30px 0 0;
}

.gif-game {
    width: 25%;
    float: right;
    margin: 0 0 30px 30px;
}

.contenedor-top {
    background-color: rgb(254, 255, 240);
    position: relative;
    padding-top: 100px;
}

.info-personal {
    margin: 100px;
}

.info-personal p{
    font-size: 18px;
}

.info-code {
    width: 50%;
    margin: 100px auto 100px auto;
}

.info-code p, h3{
    text-align: left;
}

.info-game {
    width: 50%;
    margin: 100px auto 100px auto;
}

.info-game p, h3{
    text-align: left;
}

.contacto {
    margin: 100px 100px 0 100px;
}

.contacto h3 {
    text-align: center;
}

.buttom {
    background-color: rgb(255, 187, 0);
    border: none;
    border-radius: 25px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 2px;
    cursor: pointer;
}

.buttom a:hover {
    color: white;
}

.socialMedia {
    background-color: rgb(255, 187, 0);
    padding: 50px 0 20px;
}