* {
    margin: 0;
    padding: 0;   
}

.bg-img {
    border: solid black 1px;
    background-image: url("img/jan-walter-luigi-mZh44BZpfvk-unsplash.jpeg");
    background-size: cover;
    position: relative;
}

.bg-img:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.title-1 {
    font-size: 70px;
    font-family: Helvetica;
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgb(247, 172, 75);
    box-shadow: 0.1em 0.2em 2em rgba(247, 172, 75, 1)
}

.bg-color {
    background-color: rgb(247, 172, 75);
}

.css-text {
    text-align: justify;
    padding: 3em;
    color: white;
    font-family: Helvetica;
}

.bg-name {
    font-family: Helvetica;
}

.name {
    padding:20px 0 20px 0;
    text-align: center;
    font-size: 25px;
    color: rgb(247, 172, 75);
}