@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
    font-family: ZCOOL QingKe HuangYou;
    font-size: 60px;
}

p {
    font-family: Architects Daughter;
    font-size: 24px;
}

#rojito {
    color: red;
}

.verde-1 {
    color: rgb(120, 47, 255);
}

* {
    text-align: center;
    color: blue;
}

h1, p {
    text-align: center;
    color: red;
}

/* Empieza CSS del Header */

li, a {
    font-family: "Arial";
    font-weight: 500;
    font-size: 16px;
    color: rgb(120, 47, 255);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

nav {
    order: 1;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}